@model EMS.ViewModels.EmployeeViewModel
@{
    var departments = ViewData["Departments"] as List<EMS.Models.Department>;
}

<div class="create-form">
    <h2 class="form-title">Add New Employee</h2>

    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="FullName" class="form-label"></label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="form-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="form-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="form-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="Role" class="form-label">Role</label>
            <select asp-for="Role" class="form-control" asp-items="@(new SelectList(ViewBag.Roles))">
                <option value="">-- Select Role --</option>
            </select>
            <span asp-validation-for="Role" class="form-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="DepartmentId" class="form-label">Department</label>
            <select asp-for="DepartmentId" class="form-control">
                <option value="">-- Select Department --</option>
                @foreach (var dept in departments!)
                {
                    <option value="@dept.DepartmentId">@dept.DepartmentName</option>
                }
            </select>
            <span asp-validation-for="DepartmentId" class="form-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="IsActive" class="form-label">Activity Status</label>
            <select asp-for="IsActive" class="form-control">
                <option value="true">Active</option>
                <option value="false">Not Active</option>
            </select>
            <span asp-validation-for="IsActive" class="form-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="LeaveBalance" class="form-label">Total Leave Entitlement</label>
            <input asp-for="LeaveBalance" class="form-control" />
            <span asp-validation-for="LeaveBalance" class="form-error"></span>
        </div>


        <div class="form-actions">
            <button type="submit" class="btn btn-success">Create</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
